.anim {
  opacity: 0;
}

.anim.is-in {
  opacity: 1;
}

.anim-slide-up {
  transform: translateY(120%);
}

.anim.is-in.anim-slide-up {
  animation: slideUp 1s cubic-bezier(.25, .46, .45, .94) forwards;
}

@keyframes slideUp {
  to {
    transform: translateY(0);
  }
}

a {
  display: inline-block;
  transition: transform 0.3s ease;
}

a:hover {
  transform: scale(1.05);
}
