.hero{
  padding-top: 120px;
}

.h1-1 {
  color: var(--text);
  

  font-family: "Host Grotesk", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.10em;
  font-size: 4.3rem;
}

.h3-1 {
  color: var(--text);
  margin-top: 1rem;

  font-family: "Host Grotesk", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2em;
  font-size: 2.3rem;
  opacity: 0.75;
}

/* links */
.link-wrapper {
  display: inline-block;
}

.link-wrapper .link {
  width: auto;
  margin-bottom: 3px;
  white-space: nowrap;
}

.link-text {
  text-decoration: none;
  color: var(--text);
  font-size: 1.50rem;
  letter-spacing: 0.2em;
  font-family: "Barlow Condensed", sans-serif;
}

.link-line {
  margin-top: 8px;
  width: 100%;
  height: 2px;
  background-color: var(--text);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.link-wrapper:hover .link-line {
  transform: scaleX(1);
}

/* list defaults que estabas seteando */
li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}

.option-section {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 150px;
  
}

.text-mask {
  overflow: hidden;
  display: block;
  
}

/* animación base */
.text-slide {
  display: inline-block;
  transform: translateY(120%);
  animation: slideUp 1s cubic-bezier(.25, .46, .45, .94) forwards;
}

/* primero entra el texto de abajo */
.delay-1 {
  animation-delay: 0.8s;
}

/* después entra el texto de arriba */
.delay-2 {
  animation-delay: 0.2s;
}

/* delays nuevos para links */
.delay-3 {
  animation-delay: 1.4s;
}

.delay-4 {
  animation-delay: 1.6s;
}

@keyframes slideUp {
  to {
    transform: translateY(0);
  }
}

/* Arreglar */
@media(max-width: 900px){
  .hero{
    padding-top: 100px;
  }
}